#name
{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	font-weight: bolder;
	font-size: 2em;
	font-family: 'Special Elite';

}

#menu > li
{
    display: inline-block;
    padding: 1.2%;
    border-radius: 4px;
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 130%;
}
#menu > li > a:hover
{
    text-decoration: none;
    color: white;
}

li.active
{
    background-color: rgba(0,0,0,0.7);

}

#main_nav
{
	background-color: #E6E5E5;
	box-shadow: 0px 5px 7px black;
}
#quote
{
	font-family: 'Orbitron';
	font-size: 1.2em;
	word-spacing: 1em;
	padding: 1.5%;
	color: wheat;
	background-color: rgba(0,0,0,0.6);
	border-radius: 10px;
	box-shadow: 2px 2px 10px 1px white;
}
#intro
{
	background-color: gray;
	background: url('../images/space_fly.gif');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center; 
}
#self
{
	width: 100px;
	height: 100px;
	border-radius:10px;
	box-shadow: 2px 2px 10px 1px white;	 
}
#menu
{
    float: right;
    box-shadow:7px 5px 10px black; 
    background-color: #E2E8E8;
    width: 100%;
    margin-bottom: 0px;
}
#mobile_menu
{
	display: none;
	padding-left: 0px; 
	background-color: rgba(0,0,0,0.7);
	/*float: right;*/
	position: absolute;
	top: 55px;
	right: 10px;
	border-radius: 5px;
}
#mobile_menu > li
{
	display: block;
	padding: 4px;
}
#mobile_menu > li > a
{
	color: white;
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 130%;

}

#ham
{
    position: relative;
    top: 10px;
    float: right;
    background: rgba(0,0,0,0.2);
    border-radius: 2px;
    border: 1px solid gray;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

#ham:hover{
    background: rgba(0,0,0,0.3);
}
#icons > li
{
	display: inline;
}