.dot{
  width:35px;
  height:35px;
  position:absolute;
  background: url(https://image.ibb.co/kyUHab/rose.png);
  background-size: 100% 100%;
}
#container {width:100%; height:100%; }
body {overflow: hidden;}
#logo{ left:50%; top:50%; position:absolute; border-radius:10px; }
@media (max-width: 1000px) {
	#home-row {
		position: relative;
		height: 95%;
/*		width: 99%;*/
	}
	div#main {
		position: absolute;
		height: 50%;
		width: 99%;
		top: 80px;

	}
	#ys-img, #mji-img {opacity: 0.0;
  top: 0; left: 0; animation: 12s autoplay1 infinite;}
  @keyframes autoplay1 {
  0% {opacity: 0.0;}
  50% {opacity: 1.0;}
}
#mji-img {animation-delay: 0s}
#ys-img {animation-delay: 5s}
	.img-wrapper {
		position: relative;
		width: 99%;
		box-shadow: 0 15px 10px -10px white;
	}
	div#mji {
		position: absolute;
		width: 99%;
		opacity: 0.8;
		height: 100%;
		top: 0;
	}
	.imgs {
		position: relative;
		height: 100%;
		max-width: 100%;
	}
	div#ys {
		position: absolute;
		width: 99%;
		opacity: 0.8;
		height: 100%;
		top: 0;
/*		display: none;*/
	}
	nav {
		width: 99%;position: absolute;
	}
	#root-nav {
		background-color: transparent !important;
	}
	#didi {
		position: absolute;
		bottom: 30%;
		left: 30%;
	}
	#didi-img {
		height: 120px;
		width: 120px;
		border-radius: 60px;
	}
	#greet {
		background: transparent;
		position: absolute;
		width: 80%;
		left: 10%;
		height: 75px;
	}
}
@media (min-width: 1000px) {
div#mji {
	width: 50%;
	opacity: 0.8;
}
div#ys {
	width: 50%;
	opacity: 0.8;
}
div#main {
	position: absolute;
	height: 75%;
}
#home-row {
	position: relative;
	height: 75%;
	width: 100%;
}
.img-wrapper {
	position: relative;
	height: 100%;
	box-shadow: 0 15px 10px -10px white;
}
.imgs {
	position: relative;
	height: 100%;
/*	width: 100%;*/
}
#root-nav {
	background-color: transparent !important;
}
nav {
	width: 100%;position: absolute;
}
#didi {
	position: absolute;
	bottom: 40%;
	left: 40%;
}
#greet {
	background: transparent;
	position: absolute;
	left: 33%;
}
}
html {
	background-color: #252525;
}

.side-anchor {
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  line-height: 3;
}

p {
  color: white;
  margin: 0px;
}

#side {
  height: auto;
  width: 0px;
  position: fixed;
  text-align: center;
  top: 75vh;
  padding: 10px;
}

p i {
  left: 30px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
}

.social {
  margin-left: -200px;
  width: 230px;
  padding: 0;
  display: inline-table;
  height: 0px;
  background-color: rgba(128, 128, 128, 0.73);
  -moz-transition-property: margin-left;
  -moz-transition-duration: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-property: margin-left;
  -ms-transition-duration: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-property: margin-left;
  -o-transition-duration: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-property: margin-left;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s;
  box-shadow: 0px 0px 6px 0px #3E3D3D;
  cursor: pointer;
}

.social:hover {
  margin-left: -30px;
  width: 230px;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #4099FF;
}

.google {
  background-color: #DD4B39;
}

.linkedin p i {
  left: 20px;
}

.google p i {
  left: 35px;
}

.youtube p i {
  left: 25px;
}

.youtube {
  background-color: #E52D27;
}

.linkedin:hover {
  background-color: #0976B4;
}